body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    color: black;
}

.dark {
    background-color: black;
    color: aliceblue;
}

button:hover {
    cursor: progress;
}